.ticketItem {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    flex-direction: column;
}
.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 36px;
    margin-bottom: 10px;
}
.ticketItem__price {
    color: rgba(33, 150, 243, 1);
    font-size: 24px;
    font-weight: 600;
}
.block {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    height: 39px;
    color: rgba(160, 176, 185, 1);
}
.secondSpan {
    font-size: 14px;
    font-weight: 600;
    color: rgba(74, 74, 74, 1);
}
.fullInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}